@font-face {
  font-family: 'Px Grotesk:Regular';
  src: url('../../assets/fonts/Px-Grotesk-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Px-Grotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans:Regular';
  src: url('../../assets/fonts/Saans-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Saans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans:Medium';
  src: url('../../assets/fonts/Saans-Medium.woff2') format('woff2'),
       url('../../assets/fonts/Saans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
