@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme inline {
  --font-saans: 'Saans:Regular', sans-serif;
  --font-saans-medium: 'Saans:Medium', sans-serif;
  --font-grotesk: 'Px_Grotesk:Regular', sans-serif;
}
